@{
    ViewBag.Title = "Index";
    Layout = "~/_LayoutHome.cshtml";
}

@section Title{
    Project 
    }
 @section Menu {

}

<h2>Index</h2>
<a href="~/Project/CreatePlan">Create Plan</a>
<br/>
<a href="~/Project/ProDetail">Details</a>
<br/>
<a href="~/Project/CreatePro">Create Pro</a>
